:root {
  /* Color Theme Swatches in RGBA */
  --color1: rgba(114, 117, 140, 1);
  --color2: rgba(164, 173, 191, 1);
  --color3: rgba(237, 236, 243, 1);
  --color4: rgba(223, 154, 153, 1);
  --color5: rgba(222, 123, 120, 1);
}

.grey_font {
  color: var(--color1);
  text-decoration: none;
  font-family: Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
}
.white_font {
  color: var(--color3);
  text-decoration: none;
  font-family: Rubik, Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
}

.h3,
h3 {
  font-size: 32px;
  font-weight: 700;
}

p.grey_font {
  font-size: 0.9rem;
  margin: 0.5rem 0 1.5rem 0;
}

.header-card {
  background-image: linear-gradient(to top, var(--color3), var(--color1));
  position: relative;
  border-radius: 16px;
  padding: 2rem;
  margin: 0 4rem 0 0;
  display: flex;
  color: var(--color3);
  justify-content: flex-end;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  flex-direction: column;
  flex: 0 0 120px;
}

.header-card p {
  margin: 0;
  font-size: 0.8rem;
}

.header-card-title {
  font-size: 1.6rem;
  margin: 0 0 0.5rem 0;
}

.popular-articles {
  display: flex;
  margin: 0;
}

.popular-header {
  margin: 2rem 0 1rem 0;
}

.popular-header .edit-popular {
  position: absolute;
  top: 5px;
  right: 5px;
}

.mini-card-grid {
  scrollbar-color: #201c29;
  scrollbar-width: 10px;
  /* scrollbar-gutter: always; */
  padding: 2rem 3rem 1rem 0.5rem;
  display: flex;
  overflow-x: scroll;
}

.mini-card {
  min-width: 300px;
  max-width: 300px;
  min-height: 350px;
  padding: 1.5rem;
  border-radius: 16px;
  background: rgb(249, 249, 250);
  box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
    0 2px 6px 2px rgba(114, 117, 140, 0.15);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 5px;
}

.mini-card h3 {
  font-size: 20px;
  margin: 0.25rem 0 auto 0;
}

.mini-card:not(:first-child) {
  margin-left: -130px;
}

.mini-card .tags a {
  font-size: 0.5rem;
}

.mini-card:focus-within,
.mini-card:hover {
  transform: translate(0, -1rem);
}

.mini-card:focus-within ~ .mini-card,
.mini-card:hover ~ .mini-card {
  transform: translateX(130px);
}

.mini-article-subhead {
  font-size: 14px;
  margin: 0 0 1rem 0;
}

.mini-article-card-header {
  margin-bottom: 1rem;
}

.mini-article-meta {
  font-size: 14px;
}

.mini-article-byline {
  margin: 1.5rem 0 0 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.mini-article-byline .author-name-area {
  grid-area: auto;
}

.author-name-prefix {
  color: rgb(73, 75, 90);
}

.author-name-area {
  grid-area: author;
}

.tags {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  line-height: 1.8;
}

.tags a {
  color: var(--color2);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.66rem;
  white-space: nowrap;
  border: 3px solid rgba(237, 236, 243, 0.74);
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem 0.85rem;
}

.tags a:focus,
.tags a:hover {
  color: var(--color1);
  border-color: rgba(164, 173, 191, 0.719);
}

@media (max-width: 800px) {
  .h3,
  h3 {
    font-size: 26px;
  }

  p.grey_font {
    font-size: 0.9rem;
  }

  .mini-card {
    min-width: 190px;
  }

  .mini-card:not(:first-child) {
    margin-left: -10px;
  }

  .mini-card:hover {
    transform: translate(0, -1rem);
  }

  .mini-card:hover ~ .mini-card {
    transform: translateX(10px);
  }
  .author-name-area {
    margin-right: 1rem;
  }
}

@media (max-width: 1200px) {
  .h3,
  h3 {
    font-size: 30px;
  }
  p.grey_font {
    font-size: 0.8rem;
  }
  .mini-card-grid {
    overflow-x: visible;
  }
  .mini-card {
    min-width: 260px;
  }

  .mini-card:not(:first-child) {
    margin-left: -30px;
  }

  .mini-card:hover {
    transform: translate(0, -1rem);
  }

  .mini-card:hover ~ .mini-card {
    transform: translateX(30px);
  }

  .header-card {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    flex: 0;
    width: 110px;
    margin-right: 1rem;
  }

  .header-card br {
    display: none;
  }

  .header-card a::after {
    display: none;
  }
  .popular-articles {
    scrollbar-color: #201c29;
    scrollbar-width: 10px;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-points-x: repeat(250px);
    scroll-snap-type: mandatory;
  }

  .popular-articles .mini-card {
    scroll-snap-align: start;
  }
  .popular-articles {
    padding-left: 0;
  }
}
