:root {
  /* Color Theme Swatches in RGBA */
  --color1: rgba(114, 117, 140, 1);
  --color2: rgba(164, 173, 191, 1);
  --color3: rgba(237, 236, 243, 1);
  --color4: rgba(223, 154, 153, 1);
  --color5: rgba(222, 123, 120, 1);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Arial Unicode MS, Helvetica, DejaVu Sans,
    Lucida Sans Unicode, sans-serif;
  background-image: url(/img/background.jpeg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgba(244, 245, 248, 0.76);
  box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
    0 2px 6px 2px rgba(114, 117, 140, 0.15);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(500px, auto) auto;

  gap: 5px;
  margin: 40px auto;
  max-width: 1620px;
}

.container > * {
  padding: 10px;
  color: var(--color1);
}

/* nav */

nav {
  display: flex;
  justify-content: space-between;
}

.nav2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-self: center;
}

.nav2 img {
  justify-items: flex-end;
}
.hamburger-menu {
  display: block;
  width: 30px;
  height: 30px;
  margin: 15px 15px;
}

.hide {
  display: none;
}
nav a {
  display: block;
  text-decoration: none;
  margin: 2px 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.7px;
  padding: 5px;
  color: var(--color1);
}

.nav__link:hover {
  color: var(--color5);
  font-style: italic;
  margin-right: 20px;
}

/* main  */

main {
  background-color: rgba(244, 245, 248, 0.767);
  box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
    0 2px 6px 2px rgba(114, 117, 140, 0.15);
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: main-appearing;
  opacity: 0;

  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes main-appearing {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 1rem;
}
h2 {
  font-size: 1rem;
}

.img_author {
  height: 400px;
  margin: 20px;
  max-width: 250px;
}

.tab-frame {
  width: 100%;
}

.tab {
  font-size: 25px;
  width: 100%;
}

.page1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1;
}
.page1__container-img {
  width: 70%;
  height: auto;
  margin: 10px auto;
}

#page1__img {
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
    0 2px 6px 2px rgba(114, 117, 140, 0.15);
}

.article-about-me {
  max-width: 700px;
  height: auto;
  border-radius: 5px 5px 5px 5px;
  background: rgb(249, 249, 250);
  box-shadow: 0 1px 2px 0 rgba(114, 117, 140, 0.3),
    0 2px 6px 2px rgba(114, 117, 140, 0.15);
  margin-right: 0;
  padding: 1rem 1.5rem;
  overflow: scroll;
}
.article-about-me p {
  width: 100%;
}

footer {
  display: flex;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0 !important;
}

footer > * {
  width: 20%;
  height: 45px;
}

.color1 {
  background-color: var(--color1);
  border-radius: 10px 0 0 10px;
}

.color2 {
  background-color: var(--color2);
}

.color3 {
  background-color: var(--color3);
}

.color4 {
  background-color: var(--color4);
}

.color5 {
  background-color: var(--color5);
  border-radius: 0 10px 10px 0;
}

@media screen and (min-width: 600px) {
  .hamburger-menu {
    display: none;
  }

  .hide {
    display: flex;
  }

  .nav2 {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
  }

  nav a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }

  .nav__link:hover {
    color: var(--color4);
    margin-right: 10px;
  }

  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .page1 {
    flex-direction: row;
  }
  .page1__container-img {
    width: 450px;
    height: auto;
    margin: 0 5px;
  }
  .article-about-me {
    padding: 1rem 1.5rem;
  }
  footer > * {
    height: 60px;
  }
}

@media screen and (min-width: 800px) {
  nav a {
    font-size: 18px;
  }
  .article-about-me p {
    width: 90%;
  }

  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  footer > * {
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  nav a {
    font-size: 20px;
  }
  #page1__img {
    height: 100%;
  }
  .article-about-me {
    margin-right: 5px;
    padding: 2rem 3rem;
  }
  .article-about-me p {
    width: 80%;
  }
  footer > * {
    height: 90px;
  }
}
